/*theme styling*/
.bg-theme{
	background-color: #6f2aad;
}

.text-theme{
	color: #6f2aad;
}
.border-theme{
	border-color : #6f2aad; 
}
.active{
	border-bottom: 3px solid #6f2aad;
}

.display-1{
	font-size: 400%;
}
.display-2{
	font-size: 200%;
}
.display-3{
	font-size: 150%;
}
.display-4{
	font-size: 125%;
	font-weight: 200;
}
.row {
	font-family: inherit;
}

#contact{
	border-radius: 50px;background-color: #6f2aad71;
}
/*dual color to single div*/
#experiance,#certificates{
	
	background :linear-gradient(to bottom,#6f2aad 0px,#6f2aad 350px,#000000 350px, white 350px,white 100%);
}
#footer{
	background :linear-gradient(to top,#6f2aad 0%,#6f2aad 70%,#000000 70%, white 30%,white 100%);
}

#experiance,#certificates,#projects{
	padding-left:5%;
	padding-right: 5%;
}

.card .card-reveal{    
    position: absolute;
    background-color: #FFF;
    width: 100%;
    overflow-y: auto;
    left:0;
    bottom:0;
    height: 100%;
    z-index: 1;
    display: none;    
}

.card .card-image{
    overflow: hidden;}